body 
{
background: linear-gradient(yellow,red, orange);  
color: yellowgreen;
} 
.heading 
{
    width: 80%; 
    font-size: 26px;
} 
#camera 
{
    border: dashed 2px greenyellow ; 
    height: 300px;
width: 350px;
} 
.name_of_objects, #result_object_name, #result_object_accuracy
{
    color: yellowgreen; 

} 
